@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --font-montserrat: "Montserrat", sans-serif;

  --color-dark: hsla(160, 2%, 31%, 1);
  --color-gray: hsla(0, 0%, 90%, 1);
  --color-gray-2: hsla(0, 0%, 66%, 1);
  --color-gray-3: hsla(229, 19%, 77%, 1);
  --color-gray-4: hsla(0, 0%, 74%, 1);

  --drop-shadow: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
  --border-radius: 12px;
  --border-radius-profile: 16px;
}

body {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  font-family: var(--font-montserrat);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .profile img {
  width: 100%;
  max-width: 156px;
  border-radius: var(--border-radius-profile);
  margin-bottom: 16px;
}

header .profile .profile__name {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-dark);
  margin-bottom: 8px;
}

header .profile .profile__place {
  font-weight: 600;
  color: var(--color-gray-2);
  margin-bottom: 24px;
}

header .profile section.profile-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  width: 100%;
}

header section.profile-data .profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  max-width: 100px;
  /* padding: 15px 25px; */
  padding: 15px 15px 17px 15px;

  background: var(--color-gray);

  border-radius: var(--border-radius);
}

header section.profile-data .profile-card p.number {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-dark);
}

header section.profile-data .profile-card p.information {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-gray-4);

  text-transform: uppercase;
}

.gallery {
  margin-top: 64px;
  margin-bottom: 100px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
}

.gallery figure.gallery__item {
  filter: var(--drop-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.gallery figure.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery figure.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery figure.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.gallery figure.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: -1;
}

.gallery figure.gallery__item--5 {
  grid-column-start: 2;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.gallery figure.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.gallery .gallery__item .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer .attribution {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  /* position: absolute; */
  bottom: 0;
  font-weight: 500;
  left: 0;
  right: 0;
  color: var(--color-gray-3);
}

footer .attribution a {
  font-weight: 700;
  color: var(--color-gray-4);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

footer .attribution a:hover {
  color: var(--color-gray-2);
}
